<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="irHome()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mis Eventos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div>
      <ion-card *ngFor="let evento of listaEventos" (click)="abrirEvento(evento)">
        <ion-card-header>
          <ion-card-title>{{ evento.nombre }}</ion-card-title>
          <ion-card-subtitle>{{ evento.descripcion }}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <div *ngIf="listaTags.length > 0 && hasTagsForEvento(evento.id_evento!); else noTags">
            <ion-chip *ngFor="let tag of listaTags">
              {{ tag.nombre }}
            </ion-chip>
          </div>
          <ng-template #noTags>
            <div>Evento sin tags</div>
          </ng-template>
          <div class="evento-info">
            <strong>Creador:</strong> {{ obtenerNombreCreador(evento.id_evento!) }} <br>
            <strong>Ubicación:</strong> {{ evento.ubicacion }}<br>
            <strong>Fecha:</strong> {{ evento.fecha | date:'dd-MM-YYYY' }}
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>

</ion-content>