<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="irHome()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-button expand="full" color="light" (click)="irEditarEvento()">Editar Evento</ion-button>
  <ion-list [inset]="true">
    <ion-item>
      <ion-label><b>{{ evento.nombre }}</b></ion-label>
    </ion-item>
    <!-- Foto portada -->
    <ion-item>
      <ion-img alt="foto portada"
        [src]="evento.url_foto_portada ? evento.url_foto_portada : 'https://ionicframework.com/docs/img/demos/card-media.png'"
        class="evento-image">
      </ion-img>
    </ion-item>
    <!-- Tres fotos pequeñas / Vista previa galería -->
    <ion-grid>
      <ion-row>
        <ng-container *ngFor="let foto of listaFotosEvento | slice:0:3">
          <ion-col size="4">
            <div (click)="irGaleria()" style="cursor: pointer;">
              <ion-img alt="foto evento" [src]="foto.url_foto_evento" class="evento-small-image">
              </ion-img>
            </div>
          </ion-col>
        </ng-container>
      </ion-row>
    </ion-grid>
    <!-- Datos del evento -->
    <div *ngIf="listaTags.length === 0">

    </div>
    <ion-chip *ngFor="let tag of listaTags">
      {{ tag.nombre }}
    </ion-chip>
    <ion-item>
      <ion-label>{{ evento.descripcion }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Creador: {{nombreCreador}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ubicación: {{ evento.ubicacion }}</ion-label>
    </ion-item>

    <div class="map" #map>
      <div id="mapaEvento" #mapaEvento></div>
    </div>

    <!-- Botón para subir imágenes -->
    <ion-item>
      <ion-button (click)="abrirSelectorDeArchivos()">Subir Imágenes</ion-button>
      <input type="file" id="fileInput" (change)="subirImagenes($event)" multiple hidden />
      <ion-button (click)="tomarFoto()">Tomar Foto</ion-button>
    </ion-item>

    <!-- Desplegable lista invitados -->
    <ion-accordion-group expand="inset">
      <ion-accordion value=" invitados">
        <ion-item slot="header" color="light">
          <ion-label>Invitados</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <div *ngIf="perfilUsuario.id_persona == evento.id_creador">
            <div *ngIf="listaInvitados.length > 0; else cargandoInvitados">
              <div *ngFor="let invitado of listaInvitados">
                {{ invitado.nombre }} {{ invitado.apellido }}
                <ion-button *ngIf="!isAdmin(invitado.id_persona!)" (click)="darAdmin(invitado.id_persona!)">Dar
                  admin</ion-button>
                <ion-button *ngIf="isAdmin(invitado.id_persona!)" (click)="quitarAdmin(invitado.id_persona!)">Quitar
                  admin</ion-button>
              </div>
            </div>
            <ng-template #cargandoInvitados>
              <ion-label>Aun no hay invitados confirmados</ion-label>
            </ng-template>
          </div>
          <div *ngIf="perfilUsuario.id_persona != evento.id_creador">
            <div *ngIf="listaInvitados.length > 0; else cargandoInvitados">
              <div *ngFor="let invitado of listaInvitados">
                {{ invitado.nombre }} {{ invitado.apellido }}
              </div>
            </div>
            <ng-template #cargandoInvitados>
              <ion-label>Aun no hay invitados confirmados</ion-label>
            </ng-template>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>
</ion-content>