<ion-app>
  <ion-menu side="end" contentId="main-content" menuId="first" persistent="false" swipeEnabled="true">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item button (click)="irVerPerfil()">Ver Perfil</ion-item>
        <ion-item button (click)="irCrearEvento()">Crear Evento</ion-item>
        <ion-item button (click)="irMisEventos()">Mis Eventos</ion-item>
        <ion-item button (click)="irContactos()">Contactos</ion-item>
        <ion-item button (click)="irAyuda()">Ayuda</ion-item>
        <ion-item button (click)="cerrarSesion()">Cerrar Sesión</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>