<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="irHome()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end"> 
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información del Perfil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="perfilUsuario.url_foto ? perfilUsuario.url_foto : '/assets/images/user.jpg'" alt="user">
        </ion-avatar>
        <ion-label>
          <h2>{{perfilUsuario.nombre}} {{perfilUsuario.apellido}}</h2>
          <p>{{perfilUsuario.correo}}</p>
          <p>Teléfono: {{perfilUsuario.telefono}}</p>
        </ion-label>
      </ion-item>
      <ion-button expand="full" (click)="fileInput.click()">Cambiar Foto de Perfil</ion-button>
      <input type="file" #fileInput (change)="subirFotoPerfil($event)" style="display: none;">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Editar Perfil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="full" (click)="openEditForm()">Editar</ion-button>
      <ion-list *ngIf="isEditing">
        <form (ngSubmit)="actualizarPerfil()">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text" [(ngModel)]="perfilUsuarioEdicion.nombre" name="nombre" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Apellido</ion-label>
            <ion-input type="text" [(ngModel)]="perfilUsuarioEdicion.apellido" name="apellido" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input type="email" [(ngModel)]="perfilUsuarioEdicion.correo" name="correo" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Teléfono</ion-label>
            <ion-input type="text" [(ngModel)]="perfilUsuarioEdicion.telefono" name="telefono" required></ion-input>
          </ion-item>
          <ion-button expand="full" type="submit">Guardar Cambios</ion-button>
        </form>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Cambiar Contraseña</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Contraseña Actual</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nueva Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirmar Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="repeatNewPassword"></ion-input>
        </ion-item>
        <ion-button expand="full" (click)="cambiarPassword()"> Cambiar </ion-button>
        <ion-button expand="full" color="light" (click)="irHome()"> Volver </ion-button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
