<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="irHome()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end"> 
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contenedor" >
    <div class="info">
      <div class="datos">
        <div class="perfil">
          <img src="/assets/images/user.jpg" alt="user">
        </div>
        <div class="nombre">
          <p>{{perfilUsuario.nombre}} {{perfilUsuario.apellido}}</p>
        </div>
        <div class="email">
          <p>{{perfilUsuario.correo}}</p>
        </div>
        <div class="telefono">
          <p>Telefono: {{perfilUsuario.telefono}}</p>
        </div>
      </div>
    </div>
    <div class="conf">
      <h3>Cambiar Contraseña</h3>
      <div class="inputs">
        <label for="Contraseña">Contraseña Actual</label>
        <input id="password" type="password" [(ngModel)]="password" value="">
        <label for="Contraseña">Nueva Contraseña</label>
        <input id="Npassword" type="password" [(ngModel)]="newPassword" value="">
        <label for="Contraseña">Confirmar Contraseña</label>
        <input id="Rpassword" type="password" [(ngModel)]="repeatNewPassword" value="">
        <button id="CambiarContraseña" (click)="cambiarPassword()"> Cambiar </button>
        <br>
        <button (click)="irHome()"> Volver</button>
      </div>
    </div>
  </div>
  