<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="irHome()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Crear Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Crear Evento</ion-title>
    </ion-toolbar>
  </ion-header>

  <form (submit)="crearEvento()">
    <ion-item>
      <ion-label position="floating">Nombre del Evento</ion-label>
      <ion-input type="text" [(ngModel)]="evento.nombre" name="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea [(ngModel)]="evento.descripcion" name="descripcion" required></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha</ion-label>
      <ion-input type="date" [(ngModel)]="evento.fecha" name="fecha" required></ion-input>
    </ion-item>

    <ion-item class="search-item">
      <ion-label position="floating">Ubicación</ion-label>
      <ion-input #searchbar type="text" [(ngModel)]="evento.ubicacion" name="ubicacion" class="search-bar"
        (input)="search($event)">
      </ion-input>
      <!-- Botón para obtener la ubicación actual -->
      <ion-button slot="end" fill="clear" name="currentLocation" (click)="getCurrentLocation()">
        <ion-icon name="locate"></ion-icon>
      </ion-button>
    </ion-item>

    <ul *ngIf="addresses.length > 0" class="address-list">
      <li *ngFor="let address of addresses" (click)="onSelect(address)" class="address-item">
        {{ address }}
      </li>
    </ul>

    <div class="map" #map>
      <div id="mapaCrear" #mapaCrear></div>
    </div>

    <ion-item>
      <ion-label>Foto de Portada</ion-label>
      <input type="file" (change)="adjuntarFotoPortada($event)" accept="image/*" style="display: none;" #fileInput>
      <ion-button expand="full" (click)="fileInput.click()">Seleccionar Foto</ion-button>
      <span *ngIf="selectedImage" style="margin-left: 10px;">{{ selectedImage.name }}</span>
    </ion-item>

    <ion-button expand="full" type="submit">Crear Evento</ion-button>
  </form>
</ion-content>